<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <%- include("./partials/head.ejs")  %>

</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container mt-5">
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= blog.snippet %></p>
        <div class="row">
          <div class="col-md-4">
            <p><%= blog.body %></p>
          </div>
        </div>
        <a href="/blogs/post-get/<%=blog._id%>" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <br>
    <% }) %>
    <% } else { %>
      <div class="container">
        <div class="empty-state">
          <p class="empty-state-message">No blogs have been created yet.</p>
        </div>
      </div>
    <% } %>
  </div>
  
  <%- include("./partials/footer.ejs") %>

  <!-- Include Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>